<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 

  <!-- Mailchimp --> 

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/fea5d468a51e549bfe9fb954d/4a2ddfe2fb52d4f66d556cae7.js");</script>


<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HHSVV93WNK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HHSVV93WNK');
</script>
<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 




